.app-container {
    width: 100vw; 
    height: 100vh; 
    background-color: #D6D7DA;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.weather-container {
    height: 80vh; 
    width: 70vw; 
    
    border-radius: 30px; 
    display: flex; 
    flex-direction: row;
}

.left-container {
    flex: 3; 
    background-color: #FFFFFC;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.right-container {
    flex: 7; 
    background-color: #F6F6F8;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}