<div class="right-container">
    <div class="right-container-nav-bar">
        <div class="nav-bar-tabs">
            <div class="today" (click)="onTodayClick()" [className]="today == true?'today today-active':'today'">Today</div>
            <div class="week" (click)="onWeekClick()" [className]="week == true?'week week-active':'week'">Week</div>
            <div class="underline" [className]="today == true?'underline underline-today':'underline underline-week'"></div>
        </div>
        <div class="nav-bar-metric">
            <div class="celsius" (click)="onCelsiusClick()" [className]="celsius == true?'celsius celsius-active':'celsius'">°C</div>
            <div class="fahrenheit" (click)="onFahrenheitClick()" [className]="fahrenheit == true?'fahrenheit fahrenheit-active':'fahrenheit'">°F</div>
            <div class="profile-image"><img src="assets/profile.jpg" alt="Profile image"/></div>
        </div>
    </div>
    <div class="right-container-data-box">
        <div class="right-container-week-cards" *ngIf="week == true">
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value"><span class="temp-max">15° </span> <span class="temp-min">-3°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value"><span class="temp-max">15° </span> <span class="temp-min">-3°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value"><span class="temp-max">15° </span> <span class="temp-min">-3°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value"><span class="temp-max">15° </span> <span class="temp-min">-3°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value"><span class="temp-max">15° </span> <span class="temp-min">-3°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value"><span class="temp-max">15° </span> <span class="temp-min">-3°</span></div>
            </div>
            <div class="card">
                <div class="card-day">Sun</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value"><span class="temp-max">15° </span> <span class="temp-min">-3°</span></div>
            </div>
        </div>

        <!-- display if today is selected -->
        <div class="right-container-today-cards" *ngIf="today == true">
            <div class="card">
                <div class="card-day">12:00</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value">15°</div>
            </div>
            <div class="card">
                <div class="card-day">12:00</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value">15°</div>
            </div>
            <div class="card">
                <div class="card-day">12:00</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value">15°</div>
            </div>
            <div class="card">
                <div class="card-day">12:00</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value">15°</div>
            </div>
            <div class="card">
                <div class="card-day">12:00</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value">15°</div>
            </div>
            <div class="card">
                <div class="card-day">12:00</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value">15°</div>
            </div>
            <div class="card">
                <div class="card-day">12:00</div>
                <div class="card-temp-img"><img src="assets/weather/sunny.png" alt="Sunny weather"/></div>
                <div class="card-temp-value">15°</div>
            </div>
        </div>
        <div class="right-container-todays-highlight">
            <div class="right-container-todays-highlight-title">Today's Highlight</div>
            <div class="right-container-todays-highlight-cards">
                <!-- uv index  -->
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV Index</div>
                    <div class="gauge">
                        <div class="gauge__body">
                            <div class="gauge__fill"></div>
                            <div class="gauge__cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">5</div>
                </div>
                
                <!-- wind -->
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">Wind Status</div>
                    <div class="wind-status-value">7.70 <span class="unit">km/h</span></div>
                    <div class="wind-status-logo"><img src="assets/weather/wind.png" alt="wind weather icon"/></div>
                </div>

                <!-- sunrise and sunset -->
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">Sunrise & Sunset</div>
                    <div class="sunrise-sunset-value">
                        <div class="sunrise">
                            <div class="sunrise-img"><img src="assets/arrow-up-solid-full.svg" alt="up arrow for sunrise"/></div>
                            <div class="sunrise-time">6:35 AM</div>
                        </div>
                        <div class="sunset">
                            <div class="sunset-img"><img src="assets/arrow-down-solid-full.svg" alt="down arrow for sunset"/></div>
                            <div class="sunset-time">5:42 PM</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- second row -->
            <div class="right-container-todays-highlight-cards">
                <!-- uv index  -->
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV Index</div>
                    <div class="gauge">
                        <div class="gauge__body">
                            <div class="gauge__fill"></div>
                            <div class="gauge__cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">5</div>
                </div>
                
                <!-- some -->
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV Index</div>
                    <div class="gauge">
                        <div class="gauge__body">
                            <div class="gauge__fill"></div>
                            <div class="gauge__cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">5</div>
                </div>

                <!-- some -->
                <div class="right-container-todays-highlight-card">
                    <div class="right-container-todays-highlight-card-title">UV Index</div>
                    <div class="gauge">
                        <div class="gauge__body">
                            <div class="gauge__fill"></div>
                            <div class="gauge__cover"></div>
                        </div>
                    </div>
                    <div class="right-container-todays-highlight-value">5</div>
                </div>
            </div>
        </div>
    </div>
</div>